{
  "openapi": "3.0.3",
  "info": {
    "title": "CoffeeServer.paw",
    "description": "",
    "version": "1.0.0",
    "contact": {
      "name": "mcritz",
      "email": "github@michaelcritz.com"
    }
  },
  "servers": [
    {
      "url": "https://coffeecoffeecoffee.coffee/",
      "description": "production server"
    },
    {
      "url": "http://localhost:8080/",
      "description": "developer sandbox"
    },
  ],
  "paths": {
    "/{host}/healthcheck/": {
      "get": {
        "summary": "/healthcheck (admin)",
        "description": "The /healthcheck route will display an absurd amount of extra information if requested as an admin",
        "operationId": "69166e58-350a-43d0-bb8a-178d2b239462",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMElongTOKENvalueHERE",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "The /healthcheck route will display an absurd amount of extra information if requested as an admin",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "example": {
                  "value": "some long diagnostics here"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/render": {
      "get": {
        "summary": "/render",
        "description": "EXPERIMENTAL — Unused\nThis experimental feature renders out certain paths to the Public folder as an attempt to serve some routes as static files.",
        "operationId": "9cff6fcc-82db-4537-b747-c99fa82a7ca8",
        "parameters": [],
        "requestBody": {
          "description": "EXPERIMENTAL — Unused\nThis experimental feature renders out certain paths to the Public folder as an attempt to serve some routes as static files.",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/{host}/": {
      "get": {
        "summary": "/index",
        "description": "Returns the rendered HTML of the site index",
        "operationId": "088dbd7d-6f99-441d-8fda-3ef426aaddc2",
        "parameters": [],
        "requestBody": {
          "description": "Returns the rendered HTML of the site index",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/html": {
                "example": {
                  "value": "<!DOCTYPE html><html><head><meta charset=\"UTF-8\"/><title>Coffee</title><meta name=\"twitter:title\" content=\"Coffee\"/><meta property=\"og:title\" content=\"Coffee\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0\"/><link rel=\"stylesheet\" href=\"/style.css\" type=\"text/css\"/></head><body><div class=\"wrapper\"><body><div class=\"wrapper\"><header><h1 class=\"hidden\">Coffee Coffee Coffee Coffee</h1><img src=\"/logo-stack.png\" class=\"header-image\"/></header><div id=\"coffee-groups\"><div class=\"coffee-group\"><a href=\"/san-diego-coffee\" class=\"event\" style=\"background-image: \n    linear-gradient(\n        0deg, \n        rgba(2,0,36,0.5) 0%, \n        rgba(1, 0, 18, 0.0) 75%, \n        rgba(1, 0, 18, 0.0) 80%,\n        rgba(32, 0, 16, 0.5) 100%),\n    url('https://coffeecoffeecoffee.coffee/api/v2/media/28A231C8-7542-410A-8B51-08FE2FBBEC4F');\nbackground-size: cover;\"><h2>San Diego Coffee</h2><div class=\"bar\"><h3>No events</h3></div></a></div><div class=\"coffee-group\"><a href=\"/sf-ios-coffee\" class=\"event\" style=\"background-image: \n    linear-gradient(\n    0deg, \n    rgba(2,0,36,0.5) 0%, rgba(1, 0, 18, 0.0) 75%), \n    url('/api/v2/media/1A372C6C-D27A-486B-879F-0B4586EE1100');\nbackground-size: cover;\"><h2>San Francisco iOS Coffee</h2><div class=\"bar\"><h3>Celebrating 300 Coffee Events!</h3><p>4 Dec 2025 at 5:00 PM</p></div></a></div><div class=\"coffee-group\"><a href=\"/south-bay-ios-bubble-tea\" class=\"event\" style=\"background-image: \n    linear-gradient(\n        0deg, \n        rgba(2,0,36,0.5) 0%, \n        rgba(1, 0, 18, 0.0) 75%, \n        rgba(1, 0, 18, 0.0) 80%,\n        rgba(32, 0, 16, 0.5) 100%),\n    url('default-coffee.webp');\nbackground-size: cover;\"><h2>South Bay iOS Coffee</h2><div class=\"bar\"><h3>No events</h3></div></a></div></div></div></body><footer><a href=\"mailto:coffee@pixel.science\" class=\"white-button\">Email Support</a><a href=\"https://github.com/coffeecoffeecoffeecoffee/Coffee-Code-Of-Conduct\" class=\"white-button\">Code of Conduct</a></footer></div></body></html>"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/todos": {
      "get": {
        "summary": "/todos",
        "description": "Experimental — Unused\nLists TODOs on the site",
        "operationId": "14f1296f-1d47-4d08-a63b-155970b8d8c2",
        "parameters": [],
        "requestBody": {
          "description": "Experimental — Unused\nLists TODOs on the site",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      },
      "post": {
        "summary": "/todos",
        "description": "Experimental — Unused\nCreates a TODO on the site",
        "operationId": "0f989305-baff-440d-9c55-ce7de979a43e",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Experimental — Unused\nCreates a TODO on the site",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "create events"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "A7C60137-E07B-46E3-876C-6F8ED188BFE1"
                    },
                    "title": {
                      "type": "string",
                      "example": "create events"
                    }
                  }
                }
              }
            },
            "headers": {
              "Alt-Svc": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Thu, 04 Dec 2025 01:08:24 GMT"
                }
              },
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "69"
                }
              },
              "Via": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "1.1 Caddy"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/users": {
      "post": {
        "summary": "Create User",
        "description": "This creates a user with the given email address.\nNote: Returns 400 Bad Request if a given email already exists. We choose 400 over 409 Conflict to avoid having an enumeration attack attempt to fish for valid emails through the user creation API.",
        "operationId": "73eb1f43-01c2-4845-aff5-a7bff0d57547",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "This creates a user with the given email address.\nNote: Returns 400 Bad Request if a given email already exists. We choose 400 over 409 Conflict to avoid having an enumeration attack attempt to fish for valid emails through the user creation API.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "michael@michaelcritz.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "Y3ll0wb4ll!co"
                  },
                  "name": {
                    "type": "string",
                    "example": "Michael Critz"
                  },
                  "confirmPassword": {
                    "type": "string",
                    "example": "Y3ll0wb4ll!co"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "0D42F25F-4030-4243-91A4-20512C41CB18"
                    },
                    "name": {
                      "type": "string",
                      "example": "michael critz"
                    }
                  }
                }
              }
            },
            "headers": {
              "Alt-Svc": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Tue, 02 Dec 2025 00:06:15 GMT"
                }
              },
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "68"
                }
              },
              "Via": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "1.1 Caddy"
                }
              }
            }
          }
        },
        "security": []
      },
      "get": {
        "summary": "Fetch User",
        "description": "Admin restricted route.\nRetrieves the user object associated with the id",
        "operationId": "fdf4696d-e7fd-47e8-a939-5280c0d9e5a9",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMELONGTOKENVALUE",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin restricted route.\nRetrieves the user object associated with the id",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/{host}/users/login": {
      "post": {
        "summary": "User Login",
        "description": "Allows a user to log in. As of 2025-12-04 the only purpose for users is to associate the admin tag so they can create events or groups.",
        "operationId": "162bada9-390e-4916-a48a-81fa97d05b27",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Basic SOMEbase64ENCODEDvalue",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Allows a user to log in. As of 2025-12-04 the only purpose for users is to associate the admin tag so they can create events or groups.",
          "content": {
            "text/plain": {}
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "reason": {
                      "type": "string",
                      "example": "Forbidden"
                    }
                  }
                }
              }
            },
            "headers": {
              "Alt-Svc": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Tue, 02 Dec 2025 18:43:04 GMT"
                }
              },
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "35"
                }
              },
              "Via": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "1.1 Caddy"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/users/me": {
      "get": {
        "summary": "me",
        "description": "Allows a User to see their own User object\n",
        "operationId": "8127388b-5aea-4e43-ad3c-11930d01ebd2",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMELONGTOKENVALUE",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Allows a User to see their own User object\n",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/{host}/users/D4AECE23-A641-4B13-B9F9-9D75B97E18E4": {
      "delete": {
        "summary": "Delete user",
        "description": "Admin Restricted Route\n\nAllows an admin to PERMANENTLY AND IRRECOVERABLY DELETE A USER\n",
        "operationId": "1bd4f962-901f-45ad-aa48-8a6a47f8ee64",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMELONGTOKENVALUE",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin Restricted Route\n\nAllows an admin to PERMANENTLY AND IRRECOVERABLY DELETE A USER\n",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/{host}/tags": {
      "post": {
        "summary": "Create Tag",
        "description": "Admin restricted.\n\nThe CoffeeServer app relies heavily on Tags for associating entities within the system.\n\nFor instance, the thing that determines if a user is an Admin is if the User has the Admin tag.",
        "operationId": "383ced42-b06b-42e5-8744-6738c8aa83f7",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMELONGTOKENVALUE",
              "description": ""
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin restricted.\n\nThe CoffeeServer app relies heavily on Tags for associating entities within the system.\n\nFor instance, the thing that determines if a user is an Admin is if the User has the Admin tag.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Tag DcCqiBNT"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      },
      "get": {
        "summary": "Fetch Tag",
        "description": "Admin restricted\n\nShows the Tag object",
        "operationId": "d7e99a81-3dbd-4a12-9b77-81a5910dca84",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMELONGTOKENVALUE",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin restricted\n\nShows the Tag object",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      },
      "delete": {
        "summary": "Delete Tag",
        "description": "Admin Restricted\n\nAllows an Admin to PERMANENTLY AND IRRECOVERABLY DELETE A TAG\n",
        "operationId": "c8943168-987c-4f2d-898a-9d249f4368db",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMELONGTOKENVALUE",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin Restricted\n\nAllows an Admin to PERMANENTLY AND IRRECOVERABLY DELETE A TAG\n",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/{host}/tags/1D9EA6F9-213A-4556-8923-57620EF9EC79/attach/0D42F25F-4030-4243-91A4-20512C41CB18": {
      "post": {
        "summary": "Attach Tag to User",
        "description": "Admin restricted\n\nThis attaches a Tag to a User. For example, an Admin can grant another User admin status by attaching the Admin tag to that User.\n",
        "operationId": "14980bec-2b31-4843-af48-5a0c90b695c4",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMELONGTOKENVALUE",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin restricted\n\nThis attaches a Tag to a User. For example, an Admin can grant another User admin status by attaching the Admin tag to that User.\n",
          "content": {
            "text/plain": {}
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "text/plain": {
                "example": {
                  "value": {}
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/users/55F1D902-DBFE-4102-9CC4-4037D73BAFF8/tags": {
      "get": {
        "summary": "List User’s Tags",
        "description": "Admin Restricted\n\nShows a User’s Tags",
        "operationId": "124735dd-3517-443c-91d7-1a886a239fad",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMELONGTOKENVALUE",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin Restricted\n\nShows a User’s Tags",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "admin"
                      },
                      "id": {
                        "type": "string",
                        "example": "1D9EA6F9-213A-4556-8923-57620EF9EC79"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Alt-Svc": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Thu, 04 Dec 2025 00:46:42 GMT"
                }
              },
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "62"
                }
              },
              "Via": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "1.1 Caddy"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/groups": {
      "post": {
        "summary": "Create Group",
        "description": "Admin restricted.\n\nA Group (or InterestGroup if looking at source code) defines an entity that has associated Events.\n\nExample: “San Francisco iOS Coffee” is an interest group about iOS devs that regularly meet for coffee.",
        "operationId": "eaf89796-2a01-45ba-a3c8-3ee2533e97b0",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMELONGTOKENVALUE",
              "description": ""
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin restricted.\n\nA Group (or InterestGroup if looking at source code) defines an entity that has associated Events.\n\nExample: “San Francisco iOS Coffee” is an interest group about iOS devs that regularly meet for coffee.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Test Group wYuK"
                  },
                  "short": {
                    "type": "string",
                    "example": "test-iOC"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isArchived": {
                      "nullable": true
                    },
                    "short": {
                      "type": "string",
                      "example": "test-yax"
                    },
                    "id": {
                      "type": "string",
                      "example": "0019F6F9-D2AA-4FBF-8078-F6889D698132"
                    },
                    "imageURL": {
                      "nullable": true
                    },
                    "name": {
                      "type": "string",
                      "example": "Test Group M0mo"
                    }
                  }
                }
              }
            },
            "headers": {
              "Alt-Svc": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Tue, 02 Dec 2025 17:51:48 GMT"
                }
              },
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "123"
                }
              },
              "Via": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "1.1 Caddy"
                }
              }
            }
          }
        },
        "security": []
      },
      "get": {
        "summary": "List Groups",
        "description": "REST endpoint to see all the groups on the site\n",
        "operationId": "3626ca24-a0d3-40a9-8b54-71f39a2ce142",
        "parameters": [],
        "requestBody": {
          "description": "REST endpoint to see all the groups on the site\n",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "events": {
                        "type": "string",
                        "example": []
                      },
                      "imageURL": {
                        "nullable": true
                      },
                      "id": {
                        "type": "string",
                        "example": "43D31984-7322-4965-BC9C-25ABB335536B"
                      },
                      "isArchived": {
                        "type": "boolean"
                      },
                      "short": {
                        "type": "string",
                        "example": "sf-rails-coffee"
                      },
                      "name": {
                        "type": "string",
                        "example": "SF Rails Coffee"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Alt-Svc": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Thu, 04 Dec 2025 00:51:48 GMT"
                }
              },
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "127291"
                }
              },
              "Via": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "1.1 Caddy"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/groups/": {
      "get": {
        "summary": "HTML list",
        "description": "The HTML Group list view — this is also the home / index route of the site\n",
        "operationId": "2d842519-003b-4972-be10-353c34521a74",
        "parameters": [],
        "requestBody": {
          "description": "The HTML Group list view — this is also the home / index route of the site\n",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/{host}/groups/0019F6F9-D2AA-4FBF-8078-F6889D698132": {
      "put": {
        "summary": "Update Group",
        "description": "Admin restricted\n\nAllows an Admin to modify a group. \n\nFor example, to change its short name from “foo-bar-bubble-tea” to “bat-baz-coffee”. \nAnother example: add or change the group’s default image.",
        "operationId": "3eff31ac-5bd4-4bf4-8156-98a7a639023b",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMElongTOKENvalueHERE",
              "description": ""
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin restricted\n\nAllows an Admin to modify a group. \n\nFor example, to change its short name from “foo-bar-bubble-tea” to “bat-baz-coffee”. \nAnother example: add or change the group’s default image.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Updated Group"
                  },
                  "short": {
                    "type": "string",
                    "example": "test-updated"
                  },
                  "imageURL": {
                    "type": "string",
                    "example": "https://coffeecoffeecoffee.coffee/api/v2/media/"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      },
      "delete": {
        "summary": "Delete Group",
        "description": "Admin Restricted\n\nAllows an Admin to PERMANENTLY AND IRRECOVERABLY DELETE A GROUP.",
        "operationId": "30d4718f-c7db-47df-bd66-34b2d8bb566e",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMElongTOKENvalueHERE",
              "description": ""
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin Restricted\n\nAllows an Admin to PERMANENTLY AND IRRECOVERABLY DELETE A GROUP.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "SF Run and Caffeine"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/{host}/groups/43D31984-7322-4965-BC9C-25ABB335536B/events": {
      "get": {
        "summary": "Group’s Events",
        "description": "Displays ALL a group’s events",
        "operationId": "1c692df1-b871-4a91-82fc-8eb9d3e7fc59",
        "parameters": [],
        "requestBody": {
          "description": "Displays ALL a group’s events",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "start_at": {
                        "type": "string",
                        "example": "2017-12-13T16:30:00Z"
                      },
                      "venue": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "5C19CB9B-F2FC-4F2F-90AF-C8B5A7218801"
                          },
                          "url": {
                            "nullable": true
                          },
                          "name": {
                            "type": "string",
                            "example": "The Mill"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "longitude": {
                                "type": "number"
                              },
                              "latitude": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "example": "F2F22E4E-E112-4CFD-83D5-F7965448B08D"
                      },
                      "name": {
                        "type": "string",
                        "example": "The Mill"
                      },
                      "image_url": {
                        "type": "string",
                        "example": "https://fastly.4sqi.net/img/general/612x612/403777_tR60tUZMVoJ5Q5ylr8hQnp0pgZTy5BOQLqydzAoHWiA.jpg"
                      },
                      "group_id": {
                        "type": "string",
                        "example": "28EF50F9-B909-4F03-9A69-A8218A8CBD99"
                      },
                      "end_at": {
                        "type": "string",
                        "example": "2017-12-13T18:00:00Z"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "149510"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Mon, 01 Dec 2025 22:03:03 GMT"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/groups/43D31984-7322-4965-BC9C-25ABB335536B/calendar.ics/": {
      "get": {
        "summary": "Group’s Calendar",
        "description": "Fetches the group’s iCal/vCal formatted calendar.\n\nThis route can be accessed as a subscription in popular calendaring apps using `webcal://` transport.",
        "operationId": "229bdd87-afad-42a4-bdfd-78599cd20004",
        "parameters": [],
        "requestBody": {
          "description": "Fetches the group’s iCal/vCal formatted calendar.\n\nThis route can be accessed as a subscription in popular calendaring apps using `webcal://` transport.",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/calendar": {
                "example": {
                  "value": "BEGIN:VCALENDAR\r\nVERSION:2.0\r\nPRODID:-//swift-calendar//icalendarkit//EN\r\nCALSCALE:GREGORIAN\r\nBEGIN:VEVENT\r\nDTSTAMP:20251204T012912Z\r\nUID:0645BADC-68E4-4D2A-A57D-C9D8123430E4\r\nCREATED:20251204T012912Z\r\nDESCRIPTION:Coffee Bird Rock Coffee Roasters\r\nDTSTART:20231029T160000Z\r\nGEO:32.81446002300259;-117.2697505989983\r\nLAST-MODIFIED:20251204T012912Z\r\nLOCATION:https://maps.apple.com/place?coordinate=32.81446002300259\\,-117.26\r\n 97505989983\r\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\r\nSUMMARY:Inaugural San Diego Coffee at Bird Rock\r\nDTEND:20231029T180000Z\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nDTSTAMP:20251204T012912Z\r\nUID:978ADEAC-E9F7-419E-A64D-BA84A02490C1\r\nCREATED:20251204T012912Z\r\nDESCRIPTION:Coffee Lofty Coffee - Solana Beach\r\nDTSTART:20231209T180000Z\r\nGEO:32.99117136601565;-117.27030472460783\r\nLAST-MODIFIED:20251204T012912Z\r\nLOCATION:https://maps.apple.com/place?coordinate=32.99117136601565\\,-117.27\r\n 030472460783\r\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\r\nSUMMARY:Lofty at Solana Beach\r\nDTEND:20231209T200000Z\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nDTSTAMP:20251204T012912Z\r\nUID:4D6E196C-B1C7-4212-BBB6-F19D63ACC44F\r\nCREATED:20251204T012912Z\r\nDESCRIPTION:Coffee Moniker Coffee Co.\r\nDTSTART:20240303T190000Z\r\nGEO:32.74098739990219;-117.21131966865237\r\nLAST-MODIFIED:20251204T012912Z\r\nLOCATION:https://maps.apple.com/place?coordinate=32.74098739990219\\,-117.21\r\n 131966865237\r\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\r\nSUMMARY:Moniker Coffee (combined meetup)\r\nDTEND:20240303T210000Z\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nDTSTAMP:20251204T012912Z\r\nUID:03299EDD-F258-4C72-9AE6-EA9A72105D19\r\nCREATED:20251204T012912Z\r\nDESCRIPTION:Coffee Necessity Coffee\r\nDTSTART:20240407T180000Z\r\nGEO:33.050744;-117.295719\r\nLAST-MODIFIED:20251204T012912Z\r\nLOCATION:https://maps.apple.com/place?coordinate=33.050744\\,-117.295719\r\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\r\nSUMMARY:Coffee is Necessity \r\nDTEND:20240407T200000Z\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nDTSTAMP:20251204T012912Z\r\nUID:FA531F82-1417-44F7-B606-455FF8062090\r\nCREATED:20251204T012912Z\r\nDESCRIPTION:Coffee The Template\r\nDTSTART:20240505T180000Z\r\nGEO:32.746404;-117.252349\r\nLAST-MODIFIED:20251204T012912Z\r\nLOCATION:https://maps.apple.com/place?coordinate=32.746404\\,-117.252349\r\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\r\nSUMMARY:Coffee at the beach\r\nDTEND:20240505T200000Z\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nDTSTAMP:20251204T012912Z\r\nUID:3B45C021-23AF-44A9-8D3B-FEC655C5853C\r\nCREATED:20251204T012912Z\r\nDESCRIPTION:Coffee Steady State Roasting\r\nDTSTART:20240728T180000Z\r\nGEO:33.1629690334013;-117.35095430980037\r\nLAST-MODIFIED:20251204T012912Z\r\nLOCATION:https://maps.apple.com/place?coordinate=33.1629690334013\\,-117.350\r\n 95430980037\r\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\r\nSUMMARY:Steady State: The Watermelon place\r\nDTEND:20240728T200000Z\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nDTSTAMP:20251204T012912Z\r\nUID:A1814919-6506-44CD-AD84-72BBDD332231\r\nCREATED:20251204T012912Z\r\nDESCRIPTION:Coffee Bird Rock Coffee Roasters\r\nDTSTART:20240818T180000Z\r\nGEO:32.9341887;-117.2549584\r\nLAST-MODIFIED:20251204T012912Z\r\nLOCATION:https://maps.apple.com/place?coordinate=32.9341887\\,-117.2549584\r\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\r\nSUMMARY:Bird Rock Torrey Pines\r\nDTEND:20240818T200000Z\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nDTSTAMP:20251204T012912Z\r\nUID:78B96009-AB4B-42F7-AB60-057D7891604A\r\nCREATED:20251204T012912Z\r\nDESCRIPTION:Coffee Moniker Coffee Co.\r\nDTSTART:20241117T190000Z\r\nGEO:32.74098739990219;-117.21131966865237\r\nLAST-MODIFIED:20251204T012912Z\r\nLOCATION:https://maps.apple.com/place?coordinate=32.74098739990219\\,-117.21\r\n 131966865237\r\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\r\nSUMMARY:Moniker at Liberty Station\r\nDTEND:20241117T210000Z\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nDTSTAMP:20251204T012912Z\r\nUID:E7051FF4-A49A-4180-A302-5CFDE2C03EEE\r\nCREATED:20251204T012912Z\r\nDESCRIPTION:Coffee Necessity Coffee\r\nDTSTART:20250126T190000Z\r\nGEO:33.05077253958193;-117.29577108181674\r\nLAST-MODIFIED:20251204T012912Z\r\nLOCATION:https://maps.apple.com/place?coordinate=33.05077253958193\\,-117.29\r\n 577108181674\r\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\r\nSUMMARY:Necessity\r\nDTEND:20250126T210000Z\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nDTSTAMP:20251204T012912Z\r\nUID:D01DC098-65C2-42D9-8CD6-4F50BE598C0E\r\nCREATED:20251204T012912Z\r\nDESCRIPTION:Coffee Communal Coffee\r\nDTSTART:20250323T180000Z\r\nGEO:32.74812;-117.1393\r\nLAST-MODIFIED:20251204T012912Z\r\nLOCATION:https://maps.apple.com/place?coordinate=32.74812\\,-117.1393\r\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\r\nSUMMARY:Communal Coffee in the city\r\nDTEND:20250323T200000Z\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nDTSTAMP:20251204T012912Z\r\nUID:13212313-6BA8-4DA0-9416-B2546089416E\r\nCREATED:20251204T012912Z\r\nDESCRIPTION:Coffee Blue Bottle Coffee\r\nDTSTART:20250413T180000Z\r\nGEO:32.95189991327009;-117.23551192766294\r\nLAST-MODIFIED:20251204T012912Z\r\nLOCATION:https://maps.apple.com/place?coordinate=32.95189991327009\\,-117.23\r\n 551192766294\r\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\r\nSUMMARY:Blue Bottle at One Paseo\r\nDTEND:20250413T200000Z\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nDTSTAMP:20251204T012912Z\r\nUID:5A7CAF74-F50C-46DA-81A5-C9FBFADD9C5C\r\nCREATED:20251204T012912Z\r\nDESCRIPTION:Coffee Necessity Coffee\r\nDTSTART:20250518T180000Z\r\nGEO:33.05077253958193;-117.29577108181674\r\nLAST-MODIFIED:20251204T012912Z\r\nLOCATION:https://maps.apple.com/place?coordinate=33.05077253958193\\,-117.29\r\n 577108181674\r\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\r\nSUMMARY:Coffee is a Necessity™\r\nDTEND:20250518T200000Z\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nDTSTAMP:20251204T012912Z\r\nUID:9FC9780B-378A-4482-9EFB-ACD63B13490E\r\nCREATED:20251204T012912Z\r\nDESCRIPTION:Coffee Bica\r\nDTSTART:20250615T180000Z\r\nGEO:32.76303769909983;-117.11573790170296\r\nLAST-MODIFIED:20251204T012912Z\r\nLOCATION:https://maps.apple.com/place?coordinate=32.76303769909983\\,-117.11\r\n 573790170296\r\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\r\nSUMMARY:Bica Coffee\r\nDTEND:20250615T200000Z\r\nEND:VEVENT\r\nBEGIN:VEVENT\r\nDTSTAMP:20251204T012912Z\r\nUID:3D32E8EE-2D28-41DF-B8FA-879A120BF6D6\r\nCREATED:20251204T012912Z\r\nDESCRIPTION:Coffee James Coffee Co.\r\nDTSTART:20250928T180000Z\r\nGEO:32.75691720783283;-117.1298858401032\r\nLAST-MODIFIED:20251204T012912Z\r\nLOCATION:https://maps.apple.com/place?coordinate=32.75691720783283\\,-117.12\r\n 98858401032\r\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\r\nSUMMARY:James\r\nDTEND:20250928T200000Z\r\nEND:VEVENT\r\nEND:VCALENDAR\r\n"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/43D31984-7322-4965-BC9C-25ABB335536B/ical/": {
      "get": {
        "summary": "Legacy Calendar Route",
        "description": "This route exists to support our existing users’ subscriptions. Same as /groups/:groupID/calendar.ics\n\nFetches the group’s iCal/vCal formatted calendar.\n\nThis route can be accessed as a subscription in popular calendaring apps using `webcal://` transport.",
        "operationId": "3df1db1c-38be-43c9-9d76-7c567aa2ce28",
        "parameters": [],
        "requestBody": {
          "description": "This route exists to support our existing users’ subscriptions. Same as /groups/:groupID/calendar.ics\n\nFetches the group’s iCal/vCal formatted calendar.\n\nThis route can be accessed as a subscription in popular calendaring apps using `webcal://` transport.",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/{host}/venues": {
      "post": {
        "summary": "Create Venue",
        "description": "Admin Restricted\n\nA Venue is an entity that provides the physical or virtual location of an Event. An Event has an associated sibling Venue.\n\nVenues are not restricted by Group nor Event.\n\nVenue name describes the location. Ex: “Joe’s Diner” and the Venue’s location property supports metadata about the Venue relevent for Users.\n\nExample Venue Object:\n\n{\n    \"url\": null,\n    \"name\": \"Saint Frank Inner Sunset\",\n    \"location\": {\n        \"applePlaceID\": \"ABC123456\",\n        \"title\": \"Irving at 9th Ave\",\n        \"longitude\": -122.466,\n        \"latitude\": 37.7643\n    },\n    \"id\": \"CFDA3654-4E40-4E39-BCCA-8C98E7131883\"\n}\n\nFor this example, the Web UI shows:\n\n“Saint Frank Inner Sunset”\n“Irving at 9th Ave”\n\nwith a link similar to:\n\nhttps://maps.apple.com/place?name=Irving%20at%209th%20Ave&coordinate=37.7643,-122.466",
        "operationId": "26418ceb-4e02-4af6-8d00-99f113350047",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMElongTOKENvalueHERE",
              "description": ""
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin Restricted\n\nA Venue is an entity that provides the physical or virtual location of an Event. An Event has an associated sibling Venue.\n\nVenues are not restricted by Group nor Event.\n\nVenue name describes the location. Ex: “Joe’s Diner” and the Venue’s location property supports metadata about the Venue relevent for Users.\n\nExample Venue Object:\n\n{\n    \"url\": null,\n    \"name\": \"Saint Frank Inner Sunset\",\n    \"location\": {\n        \"applePlaceID\": \"ABC123456\",\n        \"title\": \"Irving at 9th Ave\",\n        \"longitude\": -122.466,\n        \"latitude\": 37.7643\n    },\n    \"id\": \"CFDA3654-4E40-4E39-BCCA-8C98E7131883\"\n}\n\nFor this example, the Web UI shows:\n\n“Saint Frank Inner Sunset”\n“Irving at 9th Ave”\n\nwith a link similar to:\n\nhttps://maps.apple.com/place?name=Irving%20at%209th%20Ave&coordinate=37.7643,-122.466",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Test Venue fc7NY"
                  },
                  "location": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "example": "Venue Description DIXQAmecE322"
                      },
                      "longitude": {
                        "type": "number"
                      },
                      "latitude": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "location": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "example": "Venue Description uHbG6v5h7ssc"
                        },
                        "longitude": {
                          "type": "number"
                        },
                        "latitude": {
                          "type": "number"
                        }
                      }
                    },
                    "name": {
                      "type": "string",
                      "example": "Test Venue 407E2"
                    },
                    "url": {
                      "nullable": true
                    },
                    "id": {
                      "type": "string",
                      "example": "8E831A10-9BE9-480E-8B91-16CDAA3A6E80"
                    }
                  }
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "181"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Mon, 01 Dec 2025 18:55:33 GMT"
                }
              }
            }
          }
        },
        "security": []
      },
      "get": {
        "summary": "LIst Venues",
        "description": "Shows ALL Venues in the system",
        "operationId": "25219628-a180-4347-bd81-e536f2be4606",
        "parameters": [],
        "requestBody": {
          "description": "Shows ALL Venues in the system",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "location": {
                        "type": "object",
                        "properties": {
                          "longitude": {
                            "type": "number"
                          },
                          "latitude": {
                            "type": "number"
                          }
                        }
                      },
                      "name": {
                        "type": "string",
                        "example": "Tartine"
                      },
                      "url": {
                        "nullable": true
                      },
                      "id": {
                        "type": "string",
                        "example": "18F3CAF4-B8D5-4D14-8208-43D89CF9DCDF"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Alt-Svc": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Thu, 04 Dec 2025 01:40:20 GMT"
                }
              },
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "17878"
                }
              },
              "Via": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "1.1 Caddy"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/venues/8E831A10-9BE9-480E-8B91-16CDAA3A6E80": {
      "get": {
        "summary": "Fetch Venue",
        "description": "Shows the Venue object for the given :venueID",
        "operationId": "5590d1d8-7e11-4d4f-b82e-8b8ef4cf5c74",
        "parameters": [],
        "requestBody": {
          "description": "Shows the Venue object for the given :venueID",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "reason": {
                      "type": "string",
                      "example": "Not Found"
                    }
                  }
                }
              }
            },
            "headers": {
              "Alt-Svc": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Thu, 04 Dec 2025 01:43:59 GMT"
                }
              },
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "35"
                }
              },
              "Via": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "1.1 Caddy"
                }
              }
            }
          }
        },
        "security": []
      },
      "put": {
        "summary": "Update Venue",
        "description": "Admin Restricted\n\nAllows an Admin to update a Venue’s properties.",
        "operationId": "9a6849e1-c4d8-4166-b049-64b9493fab6a",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMElongTOKENvalueHERE",
              "description": ""
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin Restricted\n\nAllows an Admin to update a Venue’s properties.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Test Venue fc7NY"
                  },
                  "location": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "example": "Updated Name GfGdX"
                      },
                      "longitude": {
                        "type": "number"
                      },
                      "latitude": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/{host}/venues/18F3CAF4-B8D5-4D14-8208-43D89CF9DCDF/events": {
      "get": {
        "summary": "Venue’s Events",
        "description": "Shows the sibling Events (across all Groups) at a given Venue.\n",
        "operationId": "5afdbc9b-2f5d-42d3-816c-28e2585ce1ca",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Shows the sibling Events (across all Groups) at a given Venue.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "end_at": {
                        "type": "string",
                        "example": "2025-11-19T19:00:00Z"
                      },
                      "group_id": {
                        "type": "string",
                        "example": "28EF50F9-B909-4F03-9A69-A8218A8CBD99"
                      },
                      "start_at": {
                        "type": "string",
                        "example": "2025-11-19T17:00:00Z"
                      },
                      "venue": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "18F3CAF4-B8D5-4D14-8208-43D89CF9DCDF"
                          },
                          "name": {
                            "type": "string",
                            "example": "Tartine"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "longitude": {
                                "type": "number"
                              },
                              "latitude": {
                                "type": "number"
                              }
                            }
                          },
                          "url": {
                            "nullable": true
                          }
                        }
                      },
                      "image_url": {
                        "type": "string",
                        "example": "https://fastly.4sqi.net/img/general/1440x1920/63977888_PQaq3wM-vFgHn5icOyyFz3SQ33ou5cuEYuBDN9I8eO8.jpg"
                      },
                      "name": {
                        "type": "string",
                        "example": "Friendsgiving Coffee 2025 Tartine Inner Sunset"
                      },
                      "id": {
                        "type": "string",
                        "example": "0F6F8BBB-251F-43B1-B53B-329B6ACCB3A2"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Alt-Svc": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Thu, 04 Dec 2025 01:45:28 GMT"
                }
              },
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "497"
                }
              },
              "Via": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "1.1 Caddy"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/venues/81C8D73E-9BA8-464C-A64E-E8AD13A5E732": {
      "delete": {
        "summary": "Delete Venue",
        "description": "Admin Restricted\n\nAllows an Admin to PERMANENTLY AND IRRECOVERABLY DELETE A VENUE.",
        "operationId": "6261fa6b-8631-493a-a58f-6fd17d985125",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMElongTOKENvalueHERE",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin Restricted\n\nAllows an Admin to PERMANENTLY AND IRRECOVERABLY DELETE A VENUE.",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/{host}/events": {
      "post": {
        "summary": "Create Event [ past ]",
        "description": "Admin Restricted\n\nCreates an Event a few days in the future\n",
        "operationId": "387b7878-2bf7-4199-adfa-fab7a48a891b",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMElongTOKENvalueHERE",
              "description": ""
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin Restricted\n\nCreates an Event a few days in the future\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "venue": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "18F3CAF4-B8D5-4D14-8208-43D89CF9DCDF"
                      },
                      "name": {
                        "type": "string",
                        "example": "Venue Name H8fHF3ToFPPeVGVx"
                      },
                      "location": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "example": "location description us08"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "latitude": {
                            "type": "number"
                          }
                        }
                      },
                      "url": {
                        "type": "string",
                        "example": "example.com"
                      }
                    }
                  },
                  "group_id": {
                    "type": "string",
                    "example": "43D31984-7322-4965-BC9C-25ABB335536B"
                  },
                  "end_at": {
                    "type": "string",
                    "example": "2025-12-07T04:10:26+00:00"
                  },
                  "name": {
                    "type": "string",
                    "example": "Test Event 4QHYE"
                  },
                  "image_url": {
                    "type": "string",
                    "example": "media/31E6E014-EC5C-41A7-BCD3-5E50CFA13B16"
                  },
                  "start_at": {
                    "type": "string",
                    "example": "2025-12-06T18:10:26-08:00"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      },
      "get": {
        "summary": "List Events",
        "description": "Shows ALL events in the entire system",
        "operationId": "ea0f4d9f-f8a9-474a-818d-cb95a10aa790",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Shows ALL events in the entire system",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "venue": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "F20B8E1C-8336-4F67-8877-F37640E72A99"
                          }
                        }
                      },
                      "endAt": {
                        "type": "string",
                        "example": "2017-12-13T18:00:00Z"
                      },
                      "startAt": {
                        "type": "string",
                        "example": "2017-12-13T16:30:00Z"
                      },
                      "id": {
                        "type": "string",
                        "example": "F2F22E4E-E112-4CFD-83D5-F7965448B08D"
                      },
                      "group": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "28EF50F9-B909-4F03-9A69-A8218A8CBD99"
                          }
                        }
                      },
                      "imageURL": {
                        "type": "string",
                        "example": "https://fastly.4sqi.net/img/general/612x612/403777_tR60tUZMVoJ5Q5ylr8hQnp0pgZTy5BOQLqydzAoHWiA.jpg"
                      },
                      "name": {
                        "type": "string",
                        "example": "The Mill"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Alt-Svc": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Thu, 04 Dec 2025 00:51:33 GMT"
                }
              },
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "125243"
                }
              },
              "Via": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "1.1 Caddy"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/events/upcoming": {
      "get": {
        "summary": "List Events [future]",
        "description": "Shows ALL events occurring in the future through the entire system",
        "operationId": "40eeba2e-e39b-499a-a663-ad91749ce570",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Shows ALL events occurring in the future through the entire system",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "venue": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "CFDA3654-4E40-4E39-BCCA-8C98E7131883"
                          }
                        }
                      },
                      "endAt": {
                        "type": "string",
                        "example": "2025-12-04T18:00:00Z"
                      },
                      "startAt": {
                        "type": "string",
                        "example": "2025-12-04T17:00:00Z"
                      },
                      "id": {
                        "type": "string",
                        "example": "0DDFFB92-67C2-410F-B851-01C71BCED468"
                      },
                      "group": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "28EF50F9-B909-4F03-9A69-A8218A8CBD99"
                          }
                        }
                      },
                      "imageURL": {
                        "type": "string",
                        "example": "/api/v2/media/1A372C6C-D27A-486B-879F-0B4586EE1100"
                      },
                      "name": {
                        "type": "string",
                        "example": "Celebrating 300 Coffee Events!"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Alt-Svc": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Thu, 04 Dec 2025 01:48:11 GMT"
                }
              },
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "327"
                }
              },
              "Via": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "1.1 Caddy"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/events/F2F22E4E-E112-4CFD-83D5-F7965448B08D": {
      "delete": {
        "summary": "Delete Event",
        "description": "Admin Restricted\n\nAllows an Admin to PERMANENTLY AND IRRECOVERABLY DELETE AN EVENT\n",
        "operationId": "ee4368d3-2dd9-488d-a995-f5e1745ff513",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMElongTOKENvalueHERE",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin Restricted\n\nAllows an Admin to PERMANENTLY AND IRRECOVERABLY DELETE AN EVENT\n",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/{host}/events/0DDFFB92-67C2-410F-B851-01C71BCED468": {
      "put": {
        "summary": "Update Event",
        "description": "Admin Restricted \n\nAllows an Admin to update an Event’s properties.\n\nExample: to add or update the event’s image\n",
        "operationId": "6142e64c-8f60-46a7-a1a9-11f8fe17a10b",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMElongTOKENvalueHERE",
              "description": ""
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin Restricted \n\nAllows an Admin to update an Event’s properties.\n\nExample: to add or update the event’s image\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "end_at": {
                    "type": "string",
                    "example": "2025-12-07T04:10:26+00:00"
                  },
                  "venue_id": {
                    "type": "string",
                    "example": "CFDA3654-4E40-4E39-BCCA-8C98E7131883"
                  },
                  "start_at": {
                    "type": "string",
                    "example": "2025-12-06T18:10:26-08:00"
                  },
                  "venue": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "CFDA3654-4E40-4E39-BCCA-8C98E7131883"
                      },
                      "name": {
                        "type": "string",
                        "example": "Venue Name H8fHF3ToFPPeVGVx"
                      },
                      "location": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "example": "location description us08"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "latitude": {
                            "type": "number"
                          }
                        }
                      },
                      "url": {
                        "type": "string",
                        "example": "example.com"
                      }
                    }
                  },
                  "group_id": {
                    "type": "string",
                    "example": "43D31984-7322-4965-BC9C-25ABB335536B"
                  },
                  "image_url": {
                    "type": "string",
                    "example": "api/v2/media/A7E9B69B-82BC-4DB4-AB27-C06F31689A27"
                  },
                  "name": {
                    "type": "string",
                    "example": "New Saint Frank! It’s a celebratíon!"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "venue": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string",
                              "example": "Saint Frank Inner Sunset"
                            },
                            "latitude": {
                              "type": "number"
                            },
                            "longitude": {
                              "type": "number"
                            }
                          }
                        },
                        "url": {
                          "nullable": true
                        },
                        "id": {
                          "type": "string",
                          "example": "CFDA3654-4E40-4E39-BCCA-8C98E7131883"
                        },
                        "name": {
                          "type": "string",
                          "example": "Saint Frank Inner Sunset"
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "example": "0DDFFB92-67C2-410F-B851-01C71BCED468"
                    },
                    "end_at": {
                      "type": "integer",
                      "format": "int64",
                      "example": 786564000
                    },
                    "image_url": {
                      "type": "string",
                      "example": "api/v2/media/2242D919-DA8F-4416-8954-1C815D031B44"
                    },
                    "name": {
                      "type": "string",
                      "example": "New Saint Frank! It’s a celebratíon!"
                    },
                    "start_at": {
                      "type": "integer",
                      "format": "int64",
                      "example": 786560400
                    },
                    "group_id": {
                      "type": "string",
                      "example": "43D31984-7322-4965-BC9C-25ABB335536B"
                    }
                  }
                }
              }
            },
            "headers": {
              "Alt-Svc": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Wed, 03 Dec 2025 19:55:40 GMT"
                }
              },
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "438"
                }
              },
              "Via": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "1.1 Caddy"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/events/0F152036-2800-46DF-9137-6BB630679D7B": {
      "get": {
        "summary": "Fetch Event",
        "description": "Fetches a single Event object",
        "operationId": "4276a189-4c68-4e97-8ca5-8c72078ae9fd",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Fetches a single Event object",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/{host}/events/bulk": {
      "post": {
        "summary": "Bulk Add Events",
        "description": "Admin restricted\n\nBulk upload events as admin. The intention was to allow for data migrating past events.\n",
        "operationId": "08a6cb04-03d1-4b96-93e6-82b6dd4d0c40",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMElongTOKENvalueHERE",
              "description": ""
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json; charset=utf-8",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin restricted\n\nBulk upload events as admin. The intention was to allow for data migrating past events.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "end_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "group_id": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "image_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "start_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "venue": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "location": {
                          "type": "object",
                          "properties": {
                            "longitude": {
                              "type": "number"
                            },
                            "latitude": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    },
                    "is_online": {
                      "type": "boolean"
                    },
                    "online_event_url": {
                      "type": "null"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "text/plain": {
                "example": {
                  "value": {}
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/media/upload": {
      "post": {
        "summary": "Upload Media",
        "description": "Admin Restricted\n\nAllows an Admin to upload media such as an image or video.\n\nUploads are “streamed” in the sense that the server reads bytes as the come in. The entire upload must complete or the server will return an error and the media will not be written to the database.\n\nThe only useful reason to do this is to associate the media with a Group or Event’s imageURL property.\n",
        "operationId": "8d2942a3-f947-4922-bb98-380d14d294a6",
        "parameters": [
          {
            "name": "File-Name",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "saint-frank-sunset.webp",
              "description": ""
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer SOMElongTOKENvalueHERE",
              "description": ""
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "image/webp",
              "description": ""
            }
          }
        ],
        "requestBody": {
          "description": "Admin Restricted\n\nAllows an Admin to upload media such as an image or video.\n\nUploads are “streamed” in the sense that the server reads bytes as the come in. The entire upload must complete or the server will return an error and the media will not be written to the database.\n\nThe only useful reason to do this is to associate the media with a Group or Event’s imageURL property.\n",
          "content": {
            "text/plain": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "55F1D902-DBFE-4102-9CC4-4037D73BAFF8"
                        }
                      }
                    },
                    "mimeType": {
                      "type": "string",
                      "example": "image/webp"
                    },
                    "venue": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "nullable": true
                        }
                      }
                    },
                    "rawFilename": {
                      "type": "string",
                      "example": "saint-frank-sunset.webp"
                    },
                    "contentLength": {
                      "type": "integer",
                      "format": "int64",
                      "example": 871112
                    },
                    "filename": {
                      "type": "string",
                      "example": "1C6FA954-12C7-4CE9-9F34-BA7BF11B03F6"
                    },
                    "id": {
                      "type": "string",
                      "example": "A7E9B69B-82BC-4DB4-AB27-C06F31689A27"
                    }
                  }
                }
              }
            },
            "headers": {
              "Alt-Svc": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000"
                }
              },
              "Date": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "Thu, 04 Dec 2025 00:51:04 GMT"
                }
              },
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Connection": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              },
              "Content-Length": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "256"
                }
              },
              "Via": {
                "description": "",
                "schema": {
                  "type": "string",
                  "example": "1.1 Caddy"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/{host}/media/A7E9B69B-82BC-4DB4-AB27-C06F31689A27": {
      "get": {
        "summary": "Download",
        "description": "Streaming download of the associated image for the given :mediaID\n",
        "operationId": "34b05cad-2f0b-4add-9e8c-dce2c858cbf8",
        "parameters": [],
        "requestBody": {
          "description": "Streaming download of the associated image for the given :mediaID\n",
          "content": {
            "text/plain": {}
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "image/webp": {
                "example": {
                  "value": "RIFFÀJ\r\u0000WEBPVP8 ´J\r\u0000ÐKV\u0001*a\u000ea\u000e>m6H¤#*,#:Q\riidPÿÙ¾\u0013ÿÏßÿV?5±÷y\u001füèÕ?þzÈæoÿþªÝOÿïeÝõÒú_LÎ¼òeÿÿÖOéØ×zðï´tÿ-ß·\u001fÿÝþÜíOï\u001fì¿ùÿºÿiÐ×§ÿýó¯û\u000fýÿî|½£ýgÿ\u000fö\u0000_±~ÿí~lx¾ù\u001fù¿¹ò~@¿ºÿ±ôÍþwíÏ©_¸¿üÿÝü\u0001yÿÁèeü\u0007ü¯Ü_ÙÿS\u001f÷~ðz$ûÔ¯÷>«ÎKè¿þ¾îó\u0011g?ïþ·°g\u001eü\u000fýî´>stâëí\u0001ýëþÏ2ÿþ}%é+ë»û«\u001e·½\u0018Äÿ8ÿÙÿÓþ¯§_¡ÿÿÃý÷×¼¥~§þOôÿí>ýþÚ¿Ûû[ÎG»ÿßç'õàïÿgûûÿ3æ'ýßþ?å÷4êwï\u000fúßãÿ>\u001eÃÿ÷¥1ÿ³»ÿþGý_]_ñõ«÷\u001fü\u001fÿ?èü\u0011ÿpÿûï·ôÿýzÔÿøõaÿãÿ÷þ?n?¥ßÿýÿkàúWú\u001fÿfÔî®ìëÂ¬}>UeovËºò| §(û2D\"ug,¨Ò¡²Ê!Ô¤äØù«¤á\rzó7Ó%\u0007÷j\u000e\"ñ\u0018I\u001d#\u0015\u0006HãÒØ¯~ÐÒÖS<o\u0007×7Æ-\u001bhç¨\u0002\u0006¹l&âm\nð× ªQH·\u001bÖ»MÛÖºýA«åí\u0003 *Öt¹®ÈLù9ßßDMY'§êD²=Yqv\u0005éÈFäØL\u000e\u000e¨éc¸²J060á ³8àÏ`\u0012éä>bÈä¿z\u0005ü¿Ø½k¨öO¾\u0017kÿ\rÒÏÿ\u000b­Ñ\\I0¿Þ7%ïõM¥?¦\u0013&õ\tVi­¦\u001cãÍ $Ç^\u0014u±if\u001d!\u0019»×kªÔ<¤EíªåeU´v\u0010ÞM½\u0002»§å\u0018µ\u0017¾þìÜKU[å\u0018M«lÝ¯Â\u000e\\0\u001fmï\u0000áîûß§¤.Ù1ô»ÌÇR\u0001\u0004\b9j\u0010÷ïÁ\u0011«Ot=\u0014£J\u001døÔØ\u0011öð\u000b^£Òa>ñ\u0000\u0007q >¶5 \u0010H[Õ/Ô6ÝqÎ\u0014¢\u0002\u0001ØÂ¯Aú}Àì&\u0010ÿ:-~I¤r¥S?¡§2.\u0007RÓr.µ&)Tç»I²Ó\u000e«où·áZ4jÀÐîZ\n½¼X4ÊH\bÇù£5ûï~\u0018dBéa§ì{c/ºyÖ+S§Yt\u0001G{\u0014¤\u0004}U\u001eI\u00016õ3÷66¨|\u001ar]½Ý\u0018rWÌ\u001cE{À5lº]Å¨\u000e¦ÍKÅ\u0018Ú]\u0018ÇjUÛ!:?ÚD~+fZÞ\u0010Ûå'²Lh¼ùh©ÁÝtý­%!;\u0007Ðrôg¶·Zb,i;âäØt¿¿ôL7M\bµ¶W\u001cOyÐ[\u0002|O\u0010z\u0012xSu¯^³O>IR\u0004¦ª\u0017\u0012\u001cuÒTÛÞÌú¤Ü!#`)QÑ_¼ÅjC\u000eSJjEåÏ\u0014\u0004½2Y0*äÇ\u000fW^(ùW\\«\u0016@\u0000ðH=çÀ¦\u0002ðø7¤\r±}\u0005\u0005ôrðúaÑTiâð\u001al©ñ\u0005&N²±ÚFP¡ù3~_%.H§º{Ñ¥p\bÞÃ 8\u0011Y\u0010öt<ÐNyãF>ÀT¬|À·\u0012?QºåG\u0003NîBÜö´úÿ¹Dc\u001aMùaÓITHBå^5tmÖ±mógU%'ÖÖýKEé.\fïÉÄU6Eöa*éëÞ¬z\u0014+õÒê\"éúï¿/(\t·F&\u0019än=oÃK\u0000YoNê\u0007ºy\u0007]u2Ò\u0002Ä¦6ZÌ§G¿lF¼¡&¾\rÙÒRÀCë+Æ:\u000fÎ$¶'ë«Ddm-î9V|É\u0003\u0012Ô\u001eÎýµ\"#ì]v!ß÷Øí°ÛÏu7t÷BeåU¼>G[mDeJÞ\u001fkb\u0001­\u0013Æ\u001b2[èÇÐt­V\"\r<ìM íèÞÊøÚ_\u0015#\u0007­ñ2E&Y¿²r7Ô¦T%á\u0001\u0006ê$,l>ï\u0015\u0010\u0010Î±°\u0015!øñV0bYá i`ÄÅÉ¥È#x@*o2\u0017\u0002øªy\u0018ÙZÕ¡^u´Hfß7[ºÝd¸\r:°ýÓ\u001fÂÂÛä#¡ßl2líÞe±ÕÜæâuvûë¿ÓÔ®$ÛÍeÖ\tx#û¨¨\u001cñ&R\u0012iËÅªÌ¯ ·\u0018×\u000e\f8ly¹U¦J¨0tGÙ~¥\"A¤2Ây#Và\u000fpæ×\u000e¢òñI<»K@`ñ?T^]ñ\u00056´\u0014\u001c´£E­fövÓëYðÄ¦¸×9\b)÷NC×¢]©Á\u0016ô\"Ä´y\u0005KßV®|Øc\u0003ÄÞd\u001a>¯xèÖÃHUk\u001a¡Uvá0Që#Ân¾×©&ñÞáµDÞ\u00113«;°#\u0001Æ*ÓÏ_Æ±æ]ö)\"P¹\u0016¯Qrhyi\u0006\u0005\u0004SÍ9æ½´Ñè{$ÝhiW(Ü6r¶÷Ëã\u001e»²\u001aÜ5ºÜS¤üâ\f\u001eï%1ÂKq\u0017\tüc\u000fNæÀî¥÷ê[`á¿^\u001béEÜ.¸Ïb\u001d\u0012,q\u0006þóîÿ3\u0014Qü1CR;TÛbøñ/\u0006Gi\\emû¿ò.DEñuá\u000fZ!\flÃ\r¤\u0017\u001c/ê`î\u0002Ç\u001fSO¦ÖÖ$\bã§9øß9Ñø\u0001ûI6Mþ~ü\u0005WÓ,+|ÕÖÝ:\u001cU«1_0.:¼8ñ\u000e#\u001aAÌ!\u001fjÚr×Q-õ£ïÇOZÀÞéÈ&S4çÁLï\u0005á;+B:qÔv4-\u0016Î¶ûÁ×+]\u0003}Pmê{­5TÄ:1KËêéÍ(#Å_gÉVB_3¿\u001e±B²\\º¹ÐbR\u0007/Ñ\u0002è\u001e\u0014½\u0015i\rDì?\u001e.Â\t\u001cây~(Ò\u0017)ú´êäîS7%»Z| å9ulå¬LèÌìFaÚQ\u0015äÑ¹â§]Ðî8\u0018
[...]
