body {
    background: #41231C;
    color: #e1e1e1;
    font-family: system-ui, sans-serif;
}

body.dark {
    background: #41231C;
    background-image: radial-gradient(circle at 50% 0, rgba(108, 38, 229, 0.5), rgba(108, 38, 229, 0.41) 10%, rgba(225, 168, 121, 0.00) 98%, rgba(225, 168, 121, 0.00) 98%, rgba(225, 168, 121, 0) 98%);
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: leading;
    flex-direction: column;
    max-width: 90vw;
}

h1, h2 {
    font-family: "SFCompactRounded-Heavy";
    font-size: 48px;
    font-weight: 900;
}

.group-ul {
    display: flex;
    max-width: 80vw;
    list-style: none;
    wrap: flex;
    overflow: wrap;
    flex-direction: column;
    gap: 20px;
}

.group-ul .group-view-wrapper {
    display: flex;
    min-height: 160px;
    background: #323232;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}
