html {
    
}

body {
    background: #41231C;
    color: #e1e1e1;
    font-family: system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {

}


body.dark {
    color: #e1e1e1;
    background: #1f1d1a;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: leading;
    flex-direction: column;
    max-width: 90vw;
}

h1, h2 {
    font-size: 2.2rem;
    font-weight: 900;
}

.group-ul {
    display: flex;
    max-width: 80vw;
    list-style: none;
    wrap: flex;
    overflow: wrap;
    flex-direction: column;
    gap: 20px;
}

.group-ul .group-view-wrapper {
    display: flex;
    min-height: 160px;
    background: rgba(255,255,255, 0.05);
    border-radius: 0.3rem;
    padding: 10px;
    gap: 10px;
}
